@{
    Layout = "_LayoutDeslogada";
    ViewData["Title"] = "Pagina restrita";
}
<p>Você não tem permição para acessar essa funcionalidade,<a asp-controller="Home" asp-action="Index">Clique aqui para voltar para home.</a></p>
